#side{
    width: 175px;
    font-size: 0.9em;
}
#header{
    width: calc(100% - 175px);
    font-size: 0.8em;
    box-shadow: 5px 0 8px 3px var(--gray);
    background-color: var(--bright-blue);
}
.uName{
    font-family: Roboto, 'Open Sans', sans-serif;
}
.itm{
    color: var(--blue);
    transition: hover 0.3s ease-in-out;
}
    .itm:hover{
        color: var(--dark-blue);
        cursor: pointer;
    }
.list-itm > a{
    font-size: 0.9em;
    color: var(--dark-blue);
}
.list-itm{
    transition: all 0.3s ease-in-out;
    outline: 1px solid transparent;
}
    .list-itm:hover{
        cursor: pointer;
        outline-color: var(--dark-blue);
        background-color: var(--bright-blue);
    }
.data-txt{
    font-family: var(--font-family4);
    font-weight: 700;
    font-size: 30px;
}
.header-txt{
    font-family: var(--font-family3);
    font-stretch: condensed;
    font-weight: 600;
    font-size: 14px;
}
.overview{
    color: var(--dark-blue);
    border-left: 4px solid var(--cyan);
    cursor: default;
    background-color: var(--white);
}

.table-container {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 5px;
  }
  .table-container tbody {
    overflow: auto;
    height: 300px;
  }
  
  .table-container thead {
    background: black;
    color: #fff;
  }
  .table-container th, .table-container td
   {
    padding: 5px;
    text-align: center;
    width: 250px;
  }
  tr{
    border-radius: 20px;
  }
  .table-container td {
    background-color: rgb(1, 83, 110);
    color: #fff;
  }
  td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .hide{
    display: none;
    animation: up 0.3s ease both;
  }

  @keyframes up {
    from{
        height: 100%
    } to{
        height: 0%
    }
  }
